.passre1div{
    margin-top: 40px;
    text-align: center;
}

.passre2div{
    margin-top: 40px;

    text-align: center;

}


.passre1{
    text-align: center;
    width: 600px;
    font-size: 30px;
}

.passre2{
    width: 600px;
    text-align: center;
    font-size: 30px;
}