.passre1div{
    margin-top: 75px;
    text-align: center;
}

.passre2div{
    margin-top: 75px;

    text-align: center;

}


.passre1{
    text-align: center;
    width: 600px;
    font-size: 30px;
}

.passre2{
    width: 600px;
    text-align: center;
    font-size: 30px;
}

.passrebutton{
    font-size: 20px;
    border: none;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    padding: 3px 20px;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 100px;
    width: 200px;
    box-sizing: border-box;
    background:  #4da6ff;
    margin: 10px 0;
    color: #000000;
    border: 2px solid #000000;
}

.passrebutton:hover{
    color: #fff;
}

.cancelbutton2{
    font-size: 20px;
    border: none;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    padding: 3px 20px;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 100px;
    width: 200px;
    box-sizing: border-box;
    background:  red;
    margin: 10px 0;
    color: #000000;
    border: 2px solid #000000;
}

.cancelbutton2:hover{
    color:#ffffff ;
}

.buttondiv6{
    text-align: center;
    margin-top: 40px;

}

.passrebuttondiv{
    display: inline;

}
.cancelbuttondiv{
    margin-left: 40px;
    display: inline;
}