.pdiv2{
    margin-left: 120px;
    margin-top: 10%;
}

.usermailp{
    margin-left: 18%;
    font-size: 20px;
}


.newmail1{
    width: 800px;
    height: 50px;
    font-size: 40px;
    text-align: center;

}
.newmail2{
    width: 800px;
    height: 50px;
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
}
.newmail3{
    width: 800px;
    height: 50px;
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
}
.maildiv{
    text-align: center;
}

.newmaildiv1{
    text-align: center;

}

.newmaildiv2{
    text-align: center;

}

.buttondiv3{
    text-align: center;
    margin-top: 40px;
}

.buttondiv4{
   display: inline;

}
.buttondiv5{
    margin-left: 50px;
 display: inline;
}

/*
.changebutton{
    font-size: 30px;
    color         : #ffffff;
    background    : #4da6ff;
    border: none;
    border-radius: 10px;
    font-size: 30px;
}
.cancelbutton1{
    font-size: 30px;
    color         : #ffffff;
    background    : red;
    border: none;
    border-radius: 10px;
    font-size: 30px;
}
*/




.changebutton{
    font-size: 20px;
    border: none;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    padding: 3px 20px;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 100px;
    width: 200px;
    box-sizing: border-box;
    background:  #4da6ff;
    margin: 10px 0;
    color: #000000;
    border: 2px solid #000000;
}
.changebutton:hover{
    color: #fff;
}

.cancelbutton1{
    font-size: 20px;
    border: none;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    padding: 3px 20px;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 100px;
    width: 200px;
    box-sizing: border-box;
    background:  red;
    margin: 10px 0;
    color: #000000;
    border: 2px solid #000000;
}

.cancelbutton1:hover{
    color:#ffffff ;
}

