.pdiv2{
    margin-left: 120px;

    margin-top: 15%;
}


.newmail1{
    width: 700px;
    height: 40px;
    font-size: 30px;
    text-align: center;

}
.newmail2{
    width: 700px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}
.newmail3{
    width: 700px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}
.maildiv{
    text-align: center;
}

.newmaildiv1{
    text-align: center;

}

.newmaildiv2{
    text-align: center;

}
