.room{
    font-size: 40px;
}
.roompassall{
    text-align: center;
    margin-top: 10%;
}

.roompasstext{
    font-size: 30px;
}
.participation{
    font-size: 20px;
    background-color: #4da6ff;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;


}
.a3{
    font-size: 20px;
    background-color: red;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
}