.toph1{
    margin-top: 60px;
    font-size: 50px;
}


.errorall{
    text-align: center;


}

.top1{
    width: 250px;
    height: 70px;
    font-size: 25px;
    background-color: #4da6ff;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    margin-top: 50px;
}