.userh1{
    font-size: 35px;
    text-align: center;
}

.regbox1{
    font-size: 30px;
    margin-left: 20px;
}

.agebox1{
    margin-left: 10px;
    width: 50px;
    height: 30px;
    border-radius: 10px;
    margin-top: 10px;
}

.gen1{
    margin-top: 40px;
}

.register{
    width: 90px;
    height: 40px;
    font-size: 20px;
    background-color: #4da6ff;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    margin-top: 60px;
}
/*入力項目の文字右寄せ*/
.userinput{
    display: inline-block;
    text-align: right;
    width: 150px;
    margin-top: 20px;
}

.input{
    margin-top: 50px;
}

.sum{
    text-align: center;
}
.sum1{
    margin-left: 500px;
}